<div>
        <h3>Product Entry</h3>
      </div>
      <div>
        <select name="categoryId" [(ngModel)]="product.categoryId">
          <option value="">Select...</option>
          <option *ngFor="let category of categories" [value]="category.id">
             {{category.name}}
          </option>
        
          </select>
        <br/>
        <input appHighlight type="text" name="name"  [(ngModel)]="product.name" />
        <br/>
        <input type="number" name="price" [(ngModel)]="product.price" />
        <br/>
        <input type="checkbox" name="isActive" [(ngModel)]="product.isActive" />
        <br/>   
        <input type="button" class="btn btn-primary" value="Save" (click)="save()" />
        
      </div>

      <div *ngIf="message">
          {{message}}
      </div>


